#about .card {
    border-color: var(--primary-color);
}

#about .icon i {
    font-size: 25px;
    margin-bottom: 10px;
    color: var(--primary-color);
}

#about h2 {
    font-size: 30px;
    margin-bottom: 0;
    color: var(--primary-color);
}

#about p {
    color: var(--color-tertiary);
    margin-bottom: 0;
}