#contact .card {
    border: 0;
    border-radius: 10px;
    background-color: var(--tertiary-color);
    box-shadow: var(--box-shadow);
}

#contact .card .icon i {
    font-size: 25px;
    color: var(--primary-color);
}