#experience {
    padding: 120px 0px 120px 0px;
    background-color: var(--secondary-color);
}

#experience .heading {
    font-size: 30px;
}

#experience .card {
    width: 50%;
}

#experience .nav .nav-link {
    color: var(--tertiary-color);
}

#experience .nav .nav-link.active {
    background-color: var(--primary-color);
    color: #ffffff;
}

#experience .card .icon-wrapper {
    background-color: var(--primary-color);
    border-radius: 10px;
}

#experience .card i {
    font-size: 30px;
    color: #ffffff;
    padding: 10px;
}

#experience .card .profession {
    font-size: 22px;
}

/* ====== */
#experience .experience-list {
    max-width: 520px;
    margin: auto;
    position: relative;
    padding-top: 40px;
    padding-bottom: 60px;
}

#experience .experience-list:before {
    content: "";
    height: 100%;
    width: 5px;
    background: #F5CB5C;
    position: absolute;
    left: 46%;
    transform: translateX(-50%);
    top: -5px;
}

#experience .experience-list li {
    margin-bottom: 60px;
    position: relative;
}

#experience .experience-list li .dot-icon {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    display: block;
    background: #F5CB5C;
    position: absolute;
    left: 46%;
    top: 30px;
    transform: translateX(-50%);
}

#experience .year {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: start;
    align-items: flex-start;
}

#experience .experience-list li .year .long-content {
    padding-right: 100px;
}

#experience .experience-list li .year .short-content {
    padding: 0px 55px;
}

#experience .experience-list li .year .d-flex p {
    color: var(--tertiary-color);
    margin-bottom: 0;
    padding-top: 20px;
    margin-top: 0;
}

#experience .experience-list .details {
    -ms-flex: 1;
    flex: 1;
}

#experience .experience-list li .year .details p {
    color: var(--tertiary-color);
    margin-bottom: 0;
}

#experience .experience-list li .year .details h4 {
    color: var(--tertiary-color);
    font-size: 21px;
    margin-bottom: 20px;
}

/* Medium devices (tablets, 768px and up)  */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}