#hero-section {
    background-color: var(--primary-background-color);
    height: 100vh;
}

#hero-section .say-hello {
    font-weight: 500;
    font-size: 20px;
}

#hero-section .name {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 60px;
}

#hero-section .profile-pict {
    background-image: url('../images/profile-pict.png');
    height: 370px;
    width: 370px;
    background-size: contain;
    background-repeat: no-repeat;
}