#hero-section {
    background-color: var(--secondary-color);
    height: 100vh;
}

#hero-section .say-hello {
    font-weight: 500;
    font-size: 20px;
}

#hero-section .name {
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2.5em;
}

#hero-section .profile-pict {
    background-image: url('../images/profile-pict-sm.png');
    height: 290px;
    width: 290px;
    background-size: contain;
    background-repeat: no-repeat;
}

#hero-section .socmed-list {
    position: absolute;
    left: 0;
    padding-left: 35px;
    width: 10px;
}

#hero-section .socmed-link {
    padding-top: 10px;
}

#hero-section .socmed-link a {
    font-size: 18px;
    color: var(--color-tertiary);
}

/* Medium devices (tablets, 768px and up)  */
@media (min-width: 768px) {
    #hero-section .profile-pict {
        background-image: url('../images/profile-pict-md-lg.png');
        height: 370px;
        width: 370px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #hero-section .name {
        font-size: 60px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}