#navbar {
    border-radius: 10px;
    margin: 20px;
    background-color: var(--primary-color);
}

#navbar .navbar-toggler .icon {
    width: 2em;
    height: 2em;
    object-fit: contain;
}

#navbar .navbar-brand {
    font-weight: 600;
    color: #ffffff !important;
}

#navbar .nav-link.menu {
    font-family: var(--primary-font);
    color: #ffffff !important;
    margin: 4px 0px;
}

#navbar .nav-link {
    border-radius: 10px;
}

#navbar .nav-link.active {
    font-weight: 600;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
}

#navbar .btnSwitchThemeWrapper .btn-switch-theme {
    margin-top: 5px;
    box-shadow: none;
}

#navbar .btn-switch-theme:checked {
    background-color: var(--tertiary-color);
    border-color: var(--tertiary-color);
}

#navbar .navbar-brand,
.nav-link.menu,
.btnSwitchThemeWrapper {
    padding: 8px 10px;
}

/* Medium devices (tablets, 768px and up)  */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    #navbar .navbar-brand,
    .btnSwitchThemeWrapper {
        padding-left: 0px;
    }

    #navbar .nav-link.menu {
        padding: 8px 25px;
    }
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}