#portfolio .heading-main {
    color: #0c1e50;
    font-size: 35px;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    left: 20px;
    z-index: 2;
}

#portfolio .heading-bg {
    font-size: 45px;
    position: absolute;
    color: #6980bf40;
    left: -19px;
    top: -5px;
    z-index: -1;
}

#portfolio .nav .nav-link {
    border-radius: 10px;
    font-size: 15px;
    color: var(--secondary-text-color);
    padding: 10px 20px;
}

#portfolio .nav .nav-link.active {
    background-color: var(--primary-color);
    color: #ffffff;
    transition: 0.3s ease-in;
}

#portfolio .nav .nav-link.active:hover {
    box-shadow: 0 0 10px var(--primary-color),
        0 0 20px var(--primary-color),
        0 0 10px var(--primary-color),
        0 0 80px var(--primary-color);
    transition: 0.3s ease-in;
}

#portfolio img {
    width: 100%;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #portfolio .heading-main {
        font-size: 40px;
    }

    #portfolio .heading-bg {
        font-size: 60px;
        top: -12px;
    }
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}