#services .heading-main {
    color: #0c1e50;
    font-size: 40px;
    text-transform: uppercase;
    font-weight: 700;
    position: relative;
    left: 20px;
    z-index: 2;
}

#services .heading-bg {
    font-size: 60px;
    position: absolute;
    color: #6980bf40;
    left: -19px;
    top: -12px;
    z-index: -1;
}

#services .card {
    background-color: #ebeff3;
    border: 0;
    border-radius: 10px;
    box-shadow: 0px 8px 24px 0px #0000001a;;
}

#services .card-footer {
    background-color: #ebeff3;
}

#services .card .icon {
    font-size: 30px;
    color: var(--primary-color);
}

#services .card .heading {
    font-size: 30px;
    color: var(--primary-color);
}

#services .card p {
    color: var(--titleBG);
}

#services .stack p {
    font-size: 14px;
    background-color: #8172e4;
    padding: 8px 15px;
    color: #ffffff;
    border-radius: 10px;
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
    #services .heading-main {
    font-size: 50px;
}

#services .heading-bg {
    font-size: 70px;
}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}