/* Global Style : Start */
* {
    transition: background-color 1s;
}

ul {
    padding: 0;
    margin: 0;
}

li {
    padding: 0;
    list-style: none;
    margin: 0;
}

.btn {
    border-radius: 10px;
    font-size: 15px;
    padding: 10px 20px;
}

.btn:focus {
    box-shadow: none;
}
/* Global Style : End */

/* Website Color Configuration : Start */
:root {
    --default-color: #ffffff;
    --primary-color: #7562E0;
    --secondary-color: #FAFBFD;
    --tertiary-color: #F6F6F8;

    --primary-text-color: #120845;
    --secondary-text-color: #4B4569;
    --primary-font: 'Heebo', sans-serif;
}

[data-theme="dark"] {
    --default-color: #1F1F1F;
    --primary-color: #7562E0;
    --secondary-color: #131212;
    --tertiary-color: #242424;

    --primary-text-color: #ffffff;
    --secondary-text-color: #C3C3C3;
    --primary-font: 'Heebo',
    sans-serif;
}

html, body {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body {
    background-color: var(--default-color);
    color: var(--primary-text-color);
    font-family: var(--primary-font);
}

.bg-color-primary {
    background-color: var(--primary-color);
}

.bg-color-secondary {
    background-color: var(--secondary-color);
}

.text-color-primary {
    color: var(--primary-color);
}

.text-color-secondary {
    color: var(--secondary-text-color);
}
/* Website Color Configuration : End */

/* Medium devices (tablets, 768px and up)  */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}