/* Global Style : Start */
ul {
    padding: 0;
    margin: 0;
}

li {
    padding: 0;
    list-style: none;
    margin: 0;
}
/* Global Style : End */

/* Website Color Configuration : Start */
:root {
    --default-background-color: #ffffff;
    --primary-background-color: #F5CB5C;
    --secondary-background-color: #F2F3F7;
    --tertiary-background-color: #CFDBD5;
    --color-primary: #F5CB5C;
    --color-secondary: #242423;
    --color-tertiary: #333533;
    --primary-font: 'Heebo', sans-serif;
}

[data-theme="dark"] {
    --primary-background-color: #E8EDDF;
    --secondary-background-color: #CFDBD5;
    --color-primary: #F5CB5C;
    --color-secondary: #242423;
    --color-tertiary: #333533;
}

body {
    background-color: var(--default-background-color);
    color: var(--color-secondary);
    font-family: var(--primary-font);
}

.primary-bg-color {
    background-color: var(--primary-background-color);
}

.color-primary {
    color: var(--color-primary);
}

.color-secondary {
    color: var(--color-secondary);
}

.color-tertiary {
    color: var(--color-tertiary);
}
/* Website Color Configuration : End */

/* Medium devices (tablets, 768px and up)  */
@media (min-width: 768px) {}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {}